<p>This is the partial for view 1.</p>
<form id="frmEdit" name="EditForm" novalidate="">
  <div> 
    <label ID="lblMake">Make:<label/>
    <input ID="edMake" type="text" ng-model="car.make"/>
	<span ID="sMake">{{ car.make }} <span/>
	
	<br/>
	
    <label ID="lblModel">Model:<label/>
    <input ID="edModel" type="text" ng-model="car.model"/>
	<span ID="sModel">{{ car.model }} <span/>
	
	<br/>
	
    <label ID="lblYear">Year:<label/>
		<select  ID="edYear" ng-model="car.year">
		  <option value="2010">2010</option>
		  <option value="2011">2011</option>
		  <option value="2012">2012</option>
		  <option value="2013">2013</option>
		  <option value="2014">2014</option>
		</select> 
	<span ID="sYear">{{ car.year }} <span/>

	<br/>
	
    <label ID="lblPrice">Price:<label/>
    <input ID="edPrice" type="text" ng-model="car.price"/>
	<span ID="sPrice">{{ car.price | currency:"USD$" }} <span/>
	
  </div>  
</form>  